In [29]:
for i in range(1,11):
    for j in range(i):
        print(j+1,end='')
    print()

1
12
123
1234
12345
123456
1234567
12345678
123456789
12345678910

In [37]:
for i in range(1,11):
    for j in range(i):
        print(i,end='')
    print()

1
22
333
4444
55555
666666
7777777
88888888
999999999
10101010101010101010

In [40]:
for i in range(1,11):
    for j in range(i):
        print(chr(64+i),end='')
    print()

A
BB
CCC
DDDD
EEEEE
FFFFFF
GGGGGGG
HHHHHHHH
IIIIIIIII
JJJJJJJJJJ

In [48]:
for i in range(1,11):
    for j in range(i):
        print(chr(65+j),end='')
    print()

A
AB
ABC
ABCD
ABCDE
ABCDEF
ABCDEFG
ABCDEFGH
ABCDEFGHI
ABCDEFGHIJ

In [53]:
for i in range(1,11):
    for j in range(11-i):
        print('*',end='')
    print()

**********
*********
********
*******
******
*****
****
***
**
*

In [56]:
for i in range(1,11):
    for j in range(11-i):
        print(i,end='')
    print()

1111111111
222222222
33333333
4444444
555555
66666
7777
888
99
10

In [63]:
for i in range(1,11):
    for j in range(11-i):
        print(j+1,end='')
    print()

12345678910
123456789
12345678
1234567
123456
12345
1234
123
12
1

In [69]:
for i in range(1,11):
    for j in range(11-i):
        print(chr(64+i),end='')
    print()

AAAAAAAAAA
BBBBBBBBB
CCCCCCCC
DDDDDDD
EEEEEE
FFFFF
GGGG
HHH
II
J

In [77]:
for i in range(10):
    for j in range(10-i):
        print(chr(65+i),end='')
    print()

AAAAAAAAAA
BBBBBBBBB
CCCCCCCC
DDDDDDD
EEEEEE
FFFFF
GGGG
HHH
II
J

In [86]:
for i in range(10):
    for j in range(10):
        print(chr(74-j),end='')
    print()

JIHGFEDCBA
JIHGFEDCBA
JIHGFEDCBA
JIHGFEDCBA
JIHGFEDCBA
JIHGFEDCBA
JIHGFEDCBA
JIHGFEDCBA
JIHGFEDCBA
JIHGFEDCBA

In [92]:
for i in range(10):
    for j in range(i+1):
        print('*',end='')
    print()

*
**
***
****
*****
******
*******
********
*********
**********

In [97]:
for i in range(10):   
    for j in range(10-i):
        print('*',end='')
    print()

**********
*********
********
*******
******
*****
****
***
**
*

In [4]:
for i in range(1,11):
    for j in range(11-i):
        print(i,end='')
    print()

1111111111
222222222
33333333
4444444
555555
66666
7777
888
99
10

In [9]:
for i in range(1,11):
    for j in range(11-i):
        print(j+1,end='')
    print()

12345678910
123456789
12345678
1234567
123456
12345
1234
123
12
1

In [10]:
for i in range(1,11):
    for j in range(11-i):
        print(chr(64+i),end='')
    print()

AAAAAAAAAA
BBBBBBBBB
CCCCCCCC
DDDDDDD
EEEEEE
FFFFF
GGGG
HHH
II
J

In [27]:
n= int(input("enter the numbers"))
for i in range(n):
    for j in range(n-i):
        print(chr(64+j+1),end='')
    print()

enter the numbers10
ABCDEFGHIJ
ABCDEFGHI
ABCDEFGH
ABCDEFG
ABCDEF
ABCDE
ABCD
ABC
AB
A

In [32]:
n= int(input('Enter the iterations'))
for i in range(n):
    for j in range(n-i):
        print(n-j,end='')
    print()

Enter the iterations10
10987654321
1098765432
109876543
10987654
1098765
109876
10987
1098
109
10

In [39]:
n = int(input('enter the iterations'))
for i in range(1,n+1):
    for j in range(n+1-i):
        print(chr(75-i),end='')
    print()

enter the iterations10
JJJJJJJJJJ
IIIIIIIII
HHHHHHHH
GGGGGGG
FFFFFF
EEEEE
DDDD
CCC
BB
A

In [48]:
for i in range(1,11):
    for j in range(11-i):
        print(chr(74-j),end='')
    print()

JIHGFEDCBA
JIHGFEDCB
JIHGFEDC
JIHGFED
JIHGFE
JIHGF
JIHG
JIH
JI
J

In [68]:
for i in range(11):
    #var= '*'*i
    print(str('*'*i).center(11,' '))
    #for j in range(10-i):
        #print('*')
    #print()

     *
     **
    ***
    ****
   *****
   ******
  *******
  ********
 *********
 **********

In [91]:
for i in range(1,11):
    for j in range(i):
        print('*',end='')
    print()

*
**
***
****
*****
******
*******
********
*********
**********

In [130]:
class operations():
    def __init__(self,x,y):
        self.x = x
        self.y = y
        self.c=0
    def add_num(self):
        self.c = self.x+self.y
        return self.c
    def sub_num(self):
        self.c = self.x-self.y
        return self.c
    def __str__(self):
        return self.c

In [131]:
a = operations(10,20)
a.add_num()

30

In [122]:
a

In [201]:
class zoo():
    def __init__(self,D):
        self.D=D
    def add_animals(self,Key,Value):
        self.D[Key]=Value
        return self.D
    def gone_animals(self,Key,Value):
        for Key in self.D.keys():     
            if self.D[Key]>Value:
                self.D[Key]=self.D[Key]-Value
            else:
                del D[Key]
        return self.D
    def highest_animals(self):
            l=[]
            z=max(self.D.values())
            for Key in self.D:
                if self.D[Key]==z:
                    l.append(Key)
            return l
#     def lowest_animals(self):
#         min(self.D[Value])
#         return self.D   
    def __str__(self):
        return self.D

In [202]:
B={} 
B['Bala']=6
B['donkey']=8
B

{'Bala': 6, 'donkey': 8}

In [203]:
model = zoo(B)
model.add_animals('Buffalo',20)

{'Bala': 6, 'donkey': 8, 'Buffalo': 20}

In [204]:
model.highest_animals()

['Buffalo']

In [205]:
model.gone_animals('Buffalo',2)

{'Bala': 4, 'donkey': 6, 'Buffalo': 18}